<div class="container">
    <div class="row">

        <h1>Ferrari  <img class="marchio" src="../../assets/marchi/ferrari.jpg" alt=""></h1>
        
    </div>
<div class="color">
<h3>coming soon</h3>
<h4>FERRARI DAYTONA SP3 </h4>
<h4>limited edition 1/100</h4>


<img class="home" src="../../assets/car/ferrari/daytona.jpg" alt="">
</div>


</div>


<h5>Ferrari disponibili nell'autosalone</h5>

<div class="card" *ngFor="let car of cars" >
    <h2>{{car.marca}}-{{car.modello}}</h2>
    <span>prezzo: {{car.prezzo}}€</span>

    <div data-effect="fade-in" class="effetto">
    <img src="{{car.img1}}" alt="" />
    <a [routerLink]="['/dettagli']"><figcaption>
        <p>clicca per maggiori dettagli</p>
        </figcaption></a>
    </div>
</div>
