<div class="container">
    <div class="row">

        <img id="logo" class="marchio" src="../../assets/marchi/porsche.jpg" alt="">
        
    </div>
    <div class="color">
    <h3>prova la tua nuova Porsche nel nuovo stabilimento a Franciacorta</h3>
    <button (click)="contatto()">prenota</button>



    <img class="home" src="../../assets/car/porsche/porsche.jpg" alt="">
    </div>
</div>

<h5>Porsche disponibili nell'autosalone</h5>

<div class="card" *ngFor="let car of cars" >
    <h2>{{car.marca}}-{{car.modello}}</h2>
    <span>prezzo: {{car.prezzo}}€</span>

    <div data-effect="fade-in" class="effetto">
    <img src="{{car.img1}}" alt="" />
    <a [routerLink]="['/dettagli',car.id]"><figcaption>
        <p>clicca per maggiori dettagli</p>
        </figcaption></a>
    </div>
</div>
