a{
    text-decoration: none;
    color: black;
}
#home {
    font-size:2rem;
    text-align: center;
    margin: 10px;

}
.tendina{
    width: 400px;
    height:auto;
    background: linear-gradient( white,grey);
    border: none;
}
ul{
    border-bottom:none;
    background:linear-gradient(grey, white)
}
#azienda{
    padding-top: 8px;
    cursor: pointer;
}


.tendina button{
    font-size:2rem;
    padding:15px;
}
.tendina button:hover{
    background-color:black;
    color: white;
}