
<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">
    <li class="nav-item">
      <div id="home" class="m-3">
      <a [routerLink]="['/']">HOME</a>
      </div>
    </li>
    
    <li id="azienda" class="nav-item m-4">
      <a [routerLink]="['/azienda']">azienda</a>
    </li>

    <li ngbDropdown class="nav-item m-4">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>lusso</a>
      <div ngbDropdownMenu class="tendina">
        <button ngbDropdownItem>Rolls-Royce </button>
        <button ngbDropdownItem>Bentley </button>
        <button ngbDropdownItem>Maybach </button>
        <button ngbDropdownItem>Mansory </button>
      </div>
    </li>
    <li ngbDropdown class="nav-item m-4">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>sportive</a>
      <div ngbDropdownMenu class="tendina">
        <button ngbDropdownItem>Lamborghini</button>
        <button ngbDropdownItem>Ferrari </button> 
        <button ngbDropdownItem>Bugatti </button>
        <button ngbDropdownItem>Porsche </button>
        <button ngbDropdownItem>Maserati </button>
      </div>
    </li>
    
    <li ngbDropdown class="ms-auto nav-item m-3" >
      <a href (click)="false" class="nav-link" ngbDropdownToggle><img src="../../assets/icone/account.jpg"></a>
      <div ngbDropdownMenu class="tendina">
        <a [routerLink]="['/login']"><button ngbDropdownItem>login</button></a>
        <a [routerLink]="['/register']"><button ngbDropdownItem>register</button></a>
        <a > <button ngbDropdownItem (click)="logout()">logout</button></a>
      </div>
    </li>

  </ul>
