.primo{
    border-bottom: 3px solid black;
    font-size:1.5rem;
    padding: 3px;
}
.container1{
    height:70px;
    width:auto;
    overflow:hidden;
}

.container1 div{
    height: 30px;
}
.container1 .col{
    padding: 5px 30px;
    border-bottom: 1px solid grey;
}

.translate{
    transform:translateY(200px)
}

.translate1{
    transform:translateY(-200px)
}