.col-4{
    height:10px;
    text-align:center
}
.rosso{
    background-color: red;
}
.verde{
    background-color:green;
}
.bianco{
    background-color:white;
}
img{
    height:50px;
    width:50px;
    margin-top:40px;
    margin-right: 5px;
}
.footer{
    margin-top:50px;
}

