
<div class="row">
  <div class="col-4 verde"></div>
  <div class="col-4 bianco" ></div>
  <div class="col-4 rosso"></div>

</div>

<div class="footer">
<div class="row">

  <div class="col-4">
    <h2>Ledio Luxurycar</h2>
    <p>Sede legale: Via Shanghai, 17</p>
    <p>39100 -Shanghai(SA)</p>
    <p>email: lediolux@gmail.com</p>
  </div>
  <div class="col-4">
    <h2>show room</h2>
    <p>Show Room Dubai: Via Dubai, 8 - 06038</p>
    <p>Telefono: +39 0742 08 09 09</p>
    <hr>
    <p>Show Room NewYork: Via NewYork, 9 - 09038</p>
    <p>Telefono: +39 8842 88 09 09</p>
  </div>
  <div class="col-4">
    <h2>social</h2>
    <a href="https://it-it.facebook.com/"><img src="../../assets/icone/facebook.jpg" ></a>
    <a href="https://www.instagram.com/"><img src="../../assets/icone/instagram.jpg" ></a>
    <a href="https://www.youtube.com/"><img src="../../assets/icone/youtube.jpg" ></a>
    <a href="https://twitter.com/?lang=it"><img src="../../assets/icone/twitter.jpg" ></a>
  </div>


</div>
</div>
