<div class="container">
    <div class="row">

        <img id="logo" class="marchio" src="../../assets/marchi/bugatti.jpg" alt="">
        
    </div>
<div class="color">
<h3>coming soon</h3>
<h4>LA VOITURE NOIRE </h4>
<h4>limited edition 1/16</h4>


<img class="home" src="../../assets/car/bugatti/bugatti.jpg" alt="">
</div>


</div>

<h5>Bugatti disponibili nell'autosalone</h5>

<div class="card" *ngFor="let car of cars" >
    <h2>{{car.marca}}-{{car.modello}}</h2>
    <span>prezzo: {{car.prezzo}}€</span>

    <div data-effect="fade-in" class="effetto">
    <img [src]="car.img1" alt="" />
    <a [routerLink]="['/dettagli',car.id]"><figcaption>
        <p>clicca per maggiori dettagli</p>
        </figcaption></a>
    </div>
</div>
