.primo {
  background-color: #1049e6;
  padding: 20px 10px;
  font-size: 1.5rem;
  border-radius: 10px; }
  .primo:hover {
    background-color: #030342; }

.secondo {
  background-color: #ce790a;
  padding: 20px 10px;
  font-size: 1.5rem;
  border-radius: 10px; }
  .secondo:hover {
    background-color: #fd5507; }

body {
  background-color: #9e0fb1; }

header {
  margin: 0px 40px;
  margin-left: 100px; }

nav {
  display: flex;
  position: relative; }

ul {
  display: flex;
  position: absolute;
  top: 60px;
  left: 70%;
  list-style-type: none; }

li {
  margin: 0px 30px 30px 30px; }

a {
  color: white;
  text-decoration: none; }

.showcase-content {
  display: flex;
  margin-top: 30px; }

h1 {
  font-size: 4rem; }

.showcase-content div {
  padding: 10px; }

img {
  margin-left: 190px; }
