<div id="home">
  <h1>Supera ogni limite</h1>
</div>
<main>

  <div id="inevidenza">
    <h2>auto in evidenza</h2>
  <ngb-carousel  class="carousel">
      <ng-template  *ngFor="let img of images" ngbSlide class="slide">
        <div class="picsum-img-wrapper">
          <a  [routerLink]="[img.router]"><img  class="img" [src]="img.src" alt="Random first slide"></a>
        </div>
        <div class="carousel-caption">
          <h3>{{img.nome}}</h3>
          <p>prezzo: €{{img.prezzo}}</p>
        </div>
      </ng-template>
    
    </ngb-carousel>
  </div>

  <div id="onsale">
    <h2>auto on sale</h2>
  <ngb-carousel  class="carousel">
      <ng-template  *ngFor="let sale of onsale" ngbSlide class="slide">
        <div class="picsum-img-wrapper">
          <a  [routerLink]="[sale.router]"><img  class="img" [src]="sale.src" alt="Random first slide"></a>
        </div>
        <div class="carousel-caption">
          <h3>{{sale.nome}}</h3>
          <s>prezzo: €{{sale.prezzo}}</s>
          <p>prezzo scontato: €{{sale.prezzo1}}</p>
        </div>
      </ng-template>
    
    </ngb-carousel>
  </div>

  <div id="special">
    <h2>auto limited edition</h2>
  <ngb-carousel  class="carousel">
      <ng-template  *ngFor="let specials of special" ngbSlide class="slide">
        <div class="picsum-img-wrapper">
          <a  [routerLink]="[specials.router]"><img  class="img" [src]="specials.src" alt="Random first slide"></a>
        </div>
        <div class="carousel-caption">
          <h3>{{specials.nome}}</h3>
          <p>prezzo: €{{specials.prezzo}}</p>
        </div>
      </ng-template>
    
    </ngb-carousel>
  </div>

</main>