@media (min-width: 481px){
    table{
        width: 400px;
        background-color: aqua;
        margin: 0 auto;
    }
}

@media (min-width: 768px){
    table{
        width: 670px;
        background-color: blue;
    }
}
@media (min-width: 1024px){
    table{
        width: 900px;
        background-color: yellow;
    }
}

@media (min-width: 1200px){
    table{
        width: 1100px;
        background-color: red;
    }
}