
h1{
    text-align: center;
    font-size:3rem;
    padding-bottom:30px;
}

img{
    width: 100%;
    display: block;
    height: 80vh;
}
h2{
    font-weight: bold;
    text-align: center;
    padding:20px 0;
}

#dettagli{
    border:5px solid black;
    width: 70%;
    position: relative;
    margin-bottom: 40px;
    background-color: rgb(189, 185, 185);
}

h3{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 20px;
}
#power{
    border:1px solid black;
    position: relative;
    background:linear-gradient(rgb(32, 32, 32),red);
    padding:40px;
    margin-bottom: 40px;
    h3{
        color:white;
        font-size:2.5rem
    }
}
h6{
    font-size:2rem;
    color:black
}
p{    
    font-size:2.5rem;
}
.bar{
    height:40px
}
.btn5{
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0.3em;
    border:none;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'arial';
    text-transform:uppercase;
    font-weight:400;
    color:black;
    background-color:#FF4233;
    box-shadow:inset 0 -0.6em 0 -0.3em rgba(0,0,0,0.20);
    text-align:center;
    position:relative;
    cursor:pointer;
    font-size: 2rem;
    left: 7%;
  }
  .btn5:hover{
    background:#FF4233;
    box-shadow:0 0 5px #E64B3E,
    0 0 20px #E64B3E,
    0 0 60px #E64B3E,

  }
  .btn5:active{
    background:#D7372A;
    top:0.15em;
    color:black;
    box-shadow:none;
  }
  #prezzo{
    margin:30px 0
  }

//responsive positioning


@media screen and (max-width:1220px){
    .col-6 p{
        font-size:1.5rem;
        font-weight:bold
    }
    #dettagli{
        width:100%;
    }
    .btn5{
        font-size:1.5rem;
    }

}
@media screen and (max-width:800px){
    img{
        height:50vh
    }
    .btn5{
        font-size:1rem;
    }
}

