<div class="container">
    <form (ngSubmit)="submit()" #f="ngForm" >
        <div ngModelGroup="authData" #authGroup="ngModelGroup">
            <div class="form-group">
            <label for="email">Email</label>
            <input 
            #email="ngModel"
            ngModel name="email"
            required
            id="email"
            type="email"
            class="form-control"
            placeholder="email">
            <p [style.color]="'red'" *ngIf="email.invalid && email.touched">devi inserire l email</p>
            </div>
            <div class="form-group">
            <label for="password">Email</label>
            <input
            #psw="ngModel" 
            ngModel name="password"
            required
            minlength="8"
            id="password"
            type="password"
            class="form-control"
            placeholder="password">
            <p
            [style.color]="'red'"
            *ngIf="psw.invalid && psw.touched"
            >devi inserire la {{psw.name}}</p>
            <p *ngIf="psw.value.length < 8">password troppo corta</p>
            </div>
        </div>
        <div class="form-group">
            <label for="city">città</label>
            <select  id="city" ngModel name="city" class="form-control">
                <option value="">seleziona</option>
                <option value="Roma">Roma</option>
                <option value="Milano">Milano</option>
                <option value="Napoli">Napoli</option>
            </select>
        </div>
        <button [disabled]="!f.valid" class="btn btn-primary">invia</button>
        <p *ngIf="f.invalid">compila tutti i campi per poter inviare il form</p>
    </form>
</div>
<button (click)="setDati()" class="btn btn-warning">riempi form</button>
<button (click)="updateCity()" class="btn btn-warning mx-5">riempi citta</button>

