
@media (max-width:1200px){
    .blog{
        width: 1024px;
    
    }
   
}

@media (max-width:1024px){
    .blog{
        width: 768px;
        
    }
    .blocco{
        width: calc(100% / 2 - 2px);
    }
}

@media (max-width:768px) and (min-width:481px){
    .blog{
        width: 100%;
        
    }
    .blocco{
        width: calc(100% - 2px);
    }
}

@media (max-width:480px){

}