#testoAlternato{
    width: 500px;
    height: 100px;
    border:1px solid black;
    position: relative;
}
p{
    padding: 20px;
}
span {
    color: aqua;
}
i{
    position: absolute;
}


i:nth-of-type(1){
    position: absolute;
    animation-name: sposta1;
    animation-duration:10s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    
}
i:nth-of-type(2){
    position: absolute;
    animation-name: sposta2;
    animation-duration:10s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    
}
i:nth-of-type(3){
    position: absolute;
    animation-name: sposta3;
    animation-duration:10s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    
}
@keyframes sposta1{
    0%{opacity: 1; display: block; margin-top: 0px;}
    10%{opacity: 1; display: block; margin-top: 20px;}
    25%{opacity:0; display:none;}
    50%{opacity:0; display:none;}
    75%{opacity:0; display:none;}
    100%{opacity:0; display:none;}

}
@keyframes sposta2{
    0%{opacity:0; display:none;}
    25%{opacity:0; display:none;}
    50%{opacity: 1; display: block; margin-top: 0px;}
    65%{opacity: 1; display: block; margin-top: 20px;}
    70%{opacity:0; display:none;}
    100%{opacity:0; display:none;}

}
@keyframes sposta3{
    0%{opacity:0; display:none;}
    25%{opacity:0; display:none;}
    50%{opacity:0; display:none;}
    70%{opacity:0; display:none;}
    80%{opacity: 1; display: block; margin-top: 0px;}
    100%{opacity: 1; display: block; margin-top: 20px;}

}




/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

