<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()" #f>

            <div class="form-group">
            <label for="email">Email</label>
            <input 
            formControlName="email"
            id="email"
            type="email"
            class="form-control"
            placeholder="email">
            <p [style.color]="'red'"
            *ngIf="
            getFormC('email')?.invalid &&
            getFormC('email')?.touched
            "
            >devi inserire l email</p>
            </div>
            <div class="form-group">
            <label for="password">Email</label>
            <input
            formControlName="password"
            id="password"
            type="password"
            class="form-control"
            placeholder="password">
            <p
            [style.color]="'red'"
            *ngIf="
            getFormC('password')?.invalid &&
            getFormC('password')?.touched
            "
            >devi inserire la password</p>
            </div>

        <div class="form-group">
            <label for="city">città</label>
            <select  id="city" formControlName="city" name="city" class="form-control">
                <option value="">seleziona</option>
                <option value="Roma">Roma</option>
                <option value="Milano">Milano</option>
                <option value="Napoli">Napoli</option>
            </select>
        </div>
        <h3 for="city">sports</h3>
        <button class="btn btn-danger" (click)="addSport()">aggiungi sport</button>
        <div class="form-group" *ngFor="let sport of getSportFields(); let i = index">
            <input type="text" class="form-control" [formControlName]="'sport' + i">
        </div>


        <button  class="btn btn-primary">invia</button>
       
    </form>
</div>



