<div class="container">
    <div class="row">

        <img id="logo" class="marchio" src="../../assets/marchi/bentley.jpg" alt="">
        
</div>


</div>
<h3>mostra di Bentley a Londra 2022</h3>
<div id="dad">
<img id="home" src="../../assets/car/bentley/bentley.jpg" alt="">
</div>



<h5>Bentley disponibili nell'autosalone</h5>

<div class="card" *ngFor="let car of cars" >
    <h2>{{car.marca}}-{{car.modello}}</h2>
    <span>prezzo: {{car.prezzo}}€</span>

    <div data-effect="fade-in" class="effetto">
    <img src="{{car.img1}}" alt="" />
    <a [routerLink]="['/dettagli']"><figcaption>
    <p>clicca per maggiori dettagli</p>
    </figcaption></a>
    </div>
</div>
